body{
    padding-top:3em;
}
.inspecor {
    width: 100%;
    min-height: 2em;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(23, 78, 234, 0.3);
    padding-left: 1em;
}
.code{
    cursor: pointer;
    background-color: bisque;
    border-radius: 0.6em;
    padding: 0 1em;
}